<% content_for :navigation do %>
    <div class="collapse navbar-collapse">

      <ul role="tablist" class="list-unstyled list-inline" id="myTab">
        <li role="presentation"<%= menu_tab_class(active_tab, "hbx-profile-tab") %>>
          <%= link_to(exchanges_hbx_profiles_path, "aria-expanded" => "true", "aria-controls" => "hbx_profile", "role" => "tab" ) do  %>
          <span title="HBX Profile" aria-hidden="true" class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li role="presentation"<%= menu_tab_class(active_tab, "families-tab") %>>
         <%= link_to(family_index_dt_exchanges_hbx_profiles_path, "aria-expanded" => "true", :remote => true, "aria-controls" => "families", "role" => "tab" ) do  %>
          <span class="hidden-xs">Families</span>
          <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Families"></span>
         <% end %>
        </li>
        </ul>

      <ul class="nav navbar-nav" id="hbx_admin">
        <li><%= link_to "Families", family_index_dt_exchanges_hbx_profiles_path, remote: true %></li>
        <li><%= link_to "Junk", junk_exchanges_hbx_profiles_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>    
      </ul>
    </div>
<% end %>