<%= hidden_field_tag :plan_design_organization_id, @plan_design_proposal.plan_design_organization._id %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quote for <%= @plan_design_proposal.plan_design_organization.legal_name %> <%= link_to "View all quotes for this employer", organizations_plan_design_organization_plan_design_proposals_path(@plan_design_proposal.plan_design_organization._id), remote: true, class: "pull-right" %></h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/error_messages', :object => @plan_design_proposal %>
        <%= render 'proposal_info', f: f, read_only: false %>
      </div>
    </div>
    <!--  Need below hidden button element to force form validations -->
    <div class="pull-right hidden">
      <%= f.submit "Save Quote", class: "btn btn-primary save-quote-btn" %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.employee-btns a').each(function(){
      if(!$(this).hasClass('download-employees')) {
        $(this).click(function(e){
          e.preventDefault();

          if($("#forms_plan_design_proposal_title").val() == "" || $("#forms_plan_design_proposal_effective_date").val() == "") {
            $('.save-quote-btn').click();
            e.stopPropagation();
          }
        });
      }
    })
  });
</script>
