<div class="bottom-pd">
  <%= form_tag(cancel_initial_plan_year_exchanges_hbx_profiles_path(id: @employer_profile), method: :post, remote: true) do %>
      <% if can_cancel_employer_plan_year?(@employer_profile) %>
          <h3>Cancelling Plan Year for Employer:<%= @employer_profile.legal_name %></h3>
          <h3>Plan Year :<%= @employer_profile.active_plan_year.start_on %> - <%= @employer_profile.active_plan_year.end_on %></h3>

          <div class="input-no-pd">
            <%= submit_tag "Cancel Plan year", class: 'btn btn-primary btn-md' %>
          </div>
      <% else %>
          <div class="input-no-pd">
            <h3>Terminating Plan Year <%= @employer_profile.active_plan_year.start_on %> - <%= @employer_profile.active_plan_year.end_on %>
              for Employer:<%= @employer_profile.legal_name %></h3>
            <div class="form-group">
              <%= label_tag :terminated_on %>:
              <div class="form-group">
                <%= text_field_tag 'terminated_on', '', placeholder: "mm/dd/yyyy",
                                   class: "required date-picker qle-date-picker form-control", required: true %>
              </div>
            </div>
            <%= submit_tag "Terminate Plan year", class: 'btn btn-primary btn-md' %>
          </div>
      <% end %>
  <% end %>
</div>