<div class="container">
  <%= link_to "<i class='fa fa-cloud-upload' aria-hidden='true'></i> Upload".html_safe, '/documents/new', remote: 'true', class: "btn btn-default ",style: "float: right" %>
</div>
<%= render_datatable(@datatable) %>
<% @documents.each do |doc| %>
<div class="modal fade" id="employeeModal_<%= doc.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div style="margin:1em; border: 1px solid;padding: 1em;">
        <h4>MA DOR FORM-X</h4>
        <p>
                   <% reader = PDF::Reader.new("#{Rails.root}"+"/tmp"+doc.source.url) %>
          <% reader.pages.each do |page| %>
            <%= page.text %>
          <% end %>

        </p>
        <p style="text-align: right">
          <button class="btn btn-default"><span class="glyphicons glyphicons-cloud-download"></span> Download</button>
          <button class="btn btn-default" >Print</button>
        </p>
        <hr/>
        <p class="row">
          <span class="col-md-6">Employer Name: <%= doc.creator %></span>
          <span class="col-md-6" style="text-align: right">Effective date: <%= doc.date %></span>
        </p>
        <form>
          <div class="row">
            <div class="col-md-4">
              <label><input type="radio" name="approve" checked="true"> Approve</label><br/>
              <label><input type="radio" name="reject"> Reject</label>
            </div>
            <div class="col-md-4">
              <select class="form-control">
                <option>Reason for rejection</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
              </select>
              <div class="form-group">
                <input type="text" name="other-reason" placeholder="Other reason for rejection">
              </div>
            </div>
            <div class="col-md-4">
              <button class = "btn btn-default">Submit</button>
              <button class = "btn btn-default" >Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
</div>
<% end %>
<script type="text/javascript" charset="utf-8">
    initializeDataTables();
    jQuery('.buttons-csv').hide()
    jQuery('.buttons-excel').hide()
</script>


