<div class="" id="inbox_provider_form">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title-inline"><%= l10n('.general_agencies') %></h3>
      <div class="form-inline button-group-wrapper">
        <div class="btn-group" role="group" aria-label="">
          <div class="btn-group" data-toggle="buttons" name="general_agencies_tab">
            <label class="btn btn-default <%= 'active' if @status == 'is_applicant' %>">
              <input type="radio" name="options" autocomplete="off" value="is_applicant" <%= 'checked' if @status == 'is_applicant' %>> <%= l10n('.applicant') %>
            </label>
            <label class="btn btn-default <%= 'active' if @status == 'is_approved' %>">
              <input type="radio" name="options" autocomplete="off" value="is_approved" <%= 'checked' if @status == 'is_approved' %>> <%= l10n('.certified') %>
            </label>
            <label class="btn btn-default <%= 'active' if @status == 'is_rejected' %>">
              <input type="radio" name="options" autocomplete="off" value="is_rejected" <%= 'checked' if @status == 'is_rejected' %>> <%= l10n('.decertified') %>
            </label>
            <label class="btn btn-default <%= 'active' if @status == 'is_suspended' %>">
              <input type="radio" name="options" autocomplete="off" value="is_suspended" <%= 'checked' if @status == 'is_suspended' %>> <%= l10n('.pending') %>
            </label>
            <label class="btn btn-default <%= 'active' if @status == 'all' %>">
              <input type="radio" name="options" autocomplete="off" value="all" <%= 'checked' if @status == 'all' %>> All
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="table-border table-responsive">
      <table class="table">
      <% if @general_agency_profiles.present? %>
        <thead>
          <th><%= l10n('.general_agency_name') %></th>
          <th><%= l10n('.general_agency_dba') %></th>
          <th><th><%= l10n('.general_agency_fein') %></th>
          <<th><%= l10n('.general_agency_entity_kind') %></th>
          <th><%= l10n('.general_agency_market_kind') %></th>
          <th><%= l10n('.general_agency_state') %></th>
          <th></th>
        </thead>
        <% @general_agency_profiles.each do |general_agency_profile| %>
          <tbody>
            <td><%= link_to general_agency_profile.legal_name, general_agencies_profile_path(general_agency_profile) %></td>
            <td><%= general_agency_profile.dba %></td>
            <td><%= general_agency_profile.fein %></td>
            <td><%= general_agency_profile.entity_kind.titleize %></td>
            <td><%= general_agency_profile.market_kind.titleize %></td>
            <td><%= general_agency_profile.current_state %></td>
            <td><%#= link_to 'Send Secure Message'.html_safe,
            new_broker_agencies_inbox_path(id: general_agency_profile.id, profile_id: @profile._id), class: "btn btn-default", remote: true %></td>
          </tbody>
        <% end %>
      <% else %>
        <tr><td><%= l10n('.profile_existence') %>.</td></tr>
      <% end %>
      </table>
    </div>
   </div>
  </div>
  <div class="row container">
    <div class="col-md-12" id="paginator">
      <%= paginate @general_agency_profiles, :remote => true, :param_name => "gas_page" %>
    </div>
  </div>
</div>
