<div class="container home module welcome">
  <br/>
  <br/>
  <br/>
  <br/>
  <h1 class="no-buffer">
    <strong>
      <%= t "welcome.welcome_to_site_name", short_name: Settings.site.short_name %>
    </strong>
  </h1>
  <h3 class="darkblue no-buffer">
    <%= t "welcome.byline" %>
  </h3>
  <br/>
  <% if user_signed_in? %>
    <strong>
      <%= t "welcome.welcome_email", current_user: current_user.oim_id %> <%= link_to(t("welcome.logout"), destroy_user_session_path, :method => :delete) %>
    </strong>
    <br/>
    <br/>
  <% end %>
  <%= link_to t("welcome.employee_portal"), privacy_insured_employee_index_path, class: "btn btn-default" %>
  <%= link_to t("welcome.consumer_family_portal"), privacy_insured_consumer_role_index_path(uqhp: true), class: "btn btn-default" %>
  <%= link_to t("welcome.assisted_consumer_family_portal"), privacy_insured_consumer_role_index_path(aqhp: true), class: "btn btn-default" %>
  <%= link_to t("welcome.returning_user"), family_account_path, class: "btn btn-default" %>
  <%= link_to t("welcome.employer_portal"), new_employers_employer_profile_path, class: "btn btn-default" %>
  <%= link_to t("welcome.broker_agency_portal"), broker_agencies_root_path, class: "btn btn-default" %>
  <%= link_to t("welcome.general_agency_portal"), general_agencies_root_path, class: "btn btn-default" %>
  <%= link_to t("welcome.hbx_portal"), exchanges_hbx_profiles_root_path, class: "btn btn-default" %>
  <% if !user_signed_in? %>
    <%= link_to t("welcome.broker_registration"), broker_registration_path, class: "btn btn-default" %>
    <%= link_to t("welcome.general_agency_registration"), general_agency_registration_path, class: "btn btn-default" %>
  <% end %>
</div>
