<div class="table-responsive">
  <table class="table">
    <tr>
      <th><%= l10n('.agency') %></th>
      <th><%= l10n('.broker') %></th>
      <th><%= l10n('.broker_npn') %></th>
      <th><%= l10n('.contact_phone') %></th>
      <th><%= l10n('.email') %></th>
    </tr>

    <tr>
      <td><%= broker_agency_profile.legal_name %></td>
      <% if broker_agency_profile.primary_broker_role.present? %>
        <td><%= broker_agency_profile.primary_broker_role.person.full_name %></td>
        <td><%= broker_agency_profile.primary_broker_role.npn %></td>
        <td><%= broker_agency_profile.primary_broker_role.person.phones.map(&:to_s).join('/') %></td>
        <td><a href="mailto:<%= broker_agency_profile.primary_broker_role.person.emails.first.address %>"><%= broker_agency_profile.primary_broker_role.person.emails.first.address %></a></td>
      <% end %>
    </tr>
  </table>
</div>