<div class="row no-buffer">
  <div class="col-md-10 col-xs-12">

    <div class="row no-buffer top-pd">
      <a class="remove return_to_employer_broker_agenices" href="javascript:void(0);"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span> <%= l10n('.cancel') %></a>
    </div>

    <div class="profile-content">
      <div class="tab-row">
        <div class="tab-content" id="myTabContent">

          <div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
            <div class="bottom-pd">

             <h4><%= l10n('.broker_agency') %> <%= @broker_agency_profile.legal_name %></h4>

             <div class="table-border table-responsive">
              <table class="table">
                <thead>
                  <th><%= l10n('.legal_name') %></th>
                  <th><%= l10n('.dba') %></th>
                  <th><%= l10n('.fein') %></th>
                  <th><%= l10n('.entity_kind') %></th>
                  <th><%= l10n('.market_kind') %></th>
                </thead>
                <tbody>
                  <td><%= @broker_agency_profile.legal_name %></td>
                  <td><%= @broker_agency_profile.dba %></td>
                  <td><%= @broker_agency_profile.fein %></td>
                  <td><%= @broker_agency_profile.entity_kind.titleize %></td>
                  <td><%= @broker_agency_profile.market_kind.titleize %></td>
                </tbody>
              </table>
            </div>

            <h4><%= l10n('.office_locations') %></h4>

            <div class="table-border">
              <% if @broker_agency_profile.organization.office_locations.present? %>
              <table class="table">
                <% @broker_agency_profile.organization.office_locations.each do |office_location| %>
                <tr>
                  <td><%= office_location.address.to_s %></td>
                </tr>
                <% end %>
              </table>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>  

