<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6 panel">
      <div class="col-xs-9">
        <div class="panel-heading row">
          <h3>Your Application Deadline</h3>
        </div>
        <div class="panel-body row">
          <p>
            Based on the dates you entered, the latest you can submit this application is:
          </p>
        </div>
      </div>
      <div class="col-xs-3">
        <span class="icon-calendar-large icon-calendar-large-dims">
          <h3 class="day">
            <%= @schedule[:advertised_due_date_of_month].strftime("%e") %>
          </h3>
          <span class="month">
            <%= @schedule[:advertised_due_date_of_month].strftime("%B") %>
          </span>
        </span>
      </div>
    </div>
    <div class="col-xs-6 panel">
      <div class="col-xs-9">
        <div class="panel-heading row">
          <h3>Payment Deadline</h3>
        </div>
        <div class="panel-body row">
          <p>
            Your first payment to <%= site_short_name %> is due no later than:
          </p>
        </div>
      </div>
      <div class="col-xs-3">
        <span class="icon-calendar-large icon-calendar-large-dims">
          <h3 class="day">
            <%= @open_enrollment_dates[:binder_payment_due_date].strftime("%e") %>
          </h3>
          <span class="month">
            <%= @open_enrollment_dates[:binder_payment_due_date].strftime("%B") %>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-3 pull-right">
  <div class="row <%= pundit_class EmployerProfile,:updateable? %>">
    <a class="btn btn-primary btn-lg btn-block  pull-right interaction-click-control-continue" onclick="plansAvailable(1)">Continue</a>
  </div>
  <br/><br/><br/>
</div>

<div class="table-responsive" style="display: none;">
  <table class="table table-border">
    <tr>
      <td>Employer initial application earliest start on</td>
      <td>:</td>
      <td><%= @schedule[:employer_initial_application_earliest_start_on].to_s %></td>
    </tr>
    <tr>
      <td>Employer initial application earliest submit on</td>
      <td>:</td>
      <td><%= @schedule[:employer_initial_application_earliest_submit_on].to_s %></td>
    </tr>
    <tr>
      <td>Employer initial application latest submit on</td>
      <td>:</td>
      <td><%= @schedule[:advertised_due_date_of_month].to_s %></td>
    </tr>
    <tr>
      <td>Binder payment due date</td>
      <td>:</td>
      <td><%= @open_enrollment_dates[:binder_payment_due_date].to_s %></td>
    </tr>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="noPlansModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-uppercase" id="myModalLabel">Plans are currently unavailable</h4>
      </div>
      <div class="modal-body">
        <strong>Benefits for which you may be eligible to offer are not currently approved by <EXCHANGE NAME>, please return in 24 hours</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
