<%= form_for @new_calendar, html: { class:'form-horizontal' }, method: :post, url: {action: "create_calendar"}, remote: true do |f| %>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Create New Calendar</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <%= f.text_field :name, class:'form-control', placeholder:'Enter Calendar Name' %>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="color" class="col-sm-2 control-label">Color</label>
      <div class="col-sm-5">
        <%= f.color_field :color %>
      </div>
    </div>
    <%= f.hidden_field :author_id, value: current_user.id  %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit 'Create Calendar', class:'btn btn-primary' %>
  </div>
</div>
  
<% end %>